// Here you can add other styles
// @import "../../node_modules/@coreui/coreui/scss/coreui";

.sidebar-root {
  // height: 1546px;
  width: 252px;
  left: 14px;
  top: 0px;
  border-radius: 0px;
  position: absolute;
  left: 5.28%;
  right: -0.38%;
  top: 0%;
  bottom: -30.35%;
  background: linear-gradient(
      179.22deg,
      rgba(22, 135, 223, 0.7) -3.7%,
      rgba(0, 144, 255, 0.7) -3.7%,
      rgba(18, 132, 220, 0.7) 77.94%
    ),
    url(../assets/images/sidebar-background.png);
}

.sidebar-icon {
  height: 24px;
  width: 24px;
  margin: auto 19px auto 0px;
}

.custom-sidebar-nav-item {
  a {
    &::after {
      background-image: url(../assets/icons/ic_outline-arrowright.svg);
      margin-left: auto;
      display: block;
      flex: 0 1 8px;
      height: 15px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
    }
  }
}

.custom-dropdown-menu {
  background: white;
  padding: 0;
  width: 225px;
  height: 112px;
  justify-content: space-between;
  & a {
    color: black;
  }
  .custom-dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
    padding: 16px 28px;
    clear: both;
    font-weight: 500;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #707070;
    font-family: Poppins;
    font-style: normal;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #1687df;
      background: #ebf2f7;
    }
  }
}

.divider {
  margin: 0.5rem auto !important;
  border: 1px solid rgba(205, 232, 255, 0.19);
  height: 0;
  width: 176px;
}

.sidebar-root {
  .sidebar-brand {
    background: rgb(1, 1, 1, 0);
    .c-sidebar-brand-full {
      width: 170px;
      height: 93px;
      margin: 13px auto;
    }
  }
}

.sidebar-contactus {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0);
  height: 109px;
  width: 196px;
  margin: auto;
  span {
    margin: 19px auto 0;
  }
  .btn-contactus {
    color: #fff;
    background: #f27122;
    border-color: #f27122;
    border-radius: 3px;
    font-weight: 500;
    height: 38px;
    width: 165px;
    margin: 17px auto;
    &:focus {
      color: #fff;
      background: #f27122;
      border-color: #f27122;
      box-shadow: 0 0 0 0.2rem rgba(88, 114, 167, 0.5);
    }
  }
}
