.card-group {
  .row {
    justify-content: space-between;
  }
  .dashboard-card,
  .dashboard-header {
    background: none;
    border: none;
  }
  .round-chart,
  .block-chart {
    margin-bottom: 30px;
  }
}
.dashboard-header {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  h3 {
    flex-grow: 1;
    margin: auto;
  }
}
.dashboard-app-btn {
  display: flex;
  width: 152px;
  height: 39px;
  left: 1346px;
  top: 107px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
  .avatar-dropdown-icon {
    color: #5f5f5f;
    transform: rotate(90deg);
  }
  &:focus {
    box-shadow: none;
  }
}

.round-chart {
  min-width: 373px;
  max-width: 373px;
  height: 415px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  canvas {
    height: 400px;
  }
}

.block-chart {
  min-width: 578px;
  max-width: 578px;
  height: 346px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  .table-responsive {
    max-height: 250px;
  }
  .table {
    thead {
      th {
        border-top: none;
        div {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: #a0a0a0;
        }
      }
    }
    th,
    td {
      padding: 0.75rem;
      vertical-align: top;
      border-bottom: 1px solid;
      border-bottom-color: #d8dbe0;
    }
  }
  .card-body {
    padding: 0 1.25rem;
  }
}
.dashboard-pagination {
  display: flex;
  align-items: center;
  min-height: 50px;
  max-height: 50px;
  div {
    flex-grow: 1;
    color: #909090;
    font-size: 12px;
    line-height: 18px;
  }
  .pagination {
    margin: auto;
    li:first-of-type,
    li:last-of-type {
      // opacity: 0;
      // pointer-events: none;
      a {
        font-size: 22px;
      }
    }
    li {
      width: 31px;
      height: 31px;
      text-align: center;
    }
    a,
    span {
      border: none;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #909090;
    }
    .page-link {
      padding: 0.18rem 0.55rem;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #909090;
    background: #dff0ff;
    border-color: #dff0ff;
    border-radius: 2px;
  }
  .page-item.disabled .page-link {
    color: #e3e3e3;
  }
}

.round-chart,
.block-chart {
  .card-header {
    border: none;
    color: black;
  }
}
