.round-chart {
  min-width: 373px;
  max-width: 373px;
  height: 415px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 15px;
}

.block-chart {
  min-width: 578px;
  max-width: 578px;
  height: 346px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 15px;
}
